@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Pacifico&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Onest:wght@500&family=Pacifico&display=swap');
:root{
    --rightsideWidth: 30%;
}


@media (max-width: 1500px) {
    :root{
        overflow: auto; 
    }
}

body {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    background-color:  #c8a34c;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}



/* left */
.image{
    position: absolute;
    padding-left: 50px;
    transform: scale(2);
    margin: 0;
    width: 25%;
    height: 68.7vh;
    overflow: hidden;
    opacity: 1;
}

.logo{
    position:  absolute ;
    width: 120px;
    padding-top: 810px;
    opacity: 0.7;
    
}
#cut-text{
    position: absolute;
    font-family: 'Pacifico', cursive;
    padding-top: 80px;
    padding-left: 120px;
    font-size: 32px;  
    color: rgb(171, 212, 59);
    opacity: 0.85;
}

/* right */

.right{
    /* display: flex; */
    padding-left: 900px;
    /* flex-wrap: wrap; */
    position: absolute;
}
#appointment {
    font-family: 'Fuggles', cursive;
    font-family: 'Onest', sans-serif;
    font-family: 'Pacifico', cursive;    /* position: absolute; */
    font-size: 60px;
    padding-left:90px; 
    color: #31386e;

}

.form{
    display: flex;
    max-width: 410px;
    flex-direction: column;
    padding-top: 0px;
    padding-left: 20px; 
    font-size: 28px;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

#signuptext{
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    padding-right: 700px;
    color: #7e278c;
}

button[type="submit"] {
    background-color: #007BFF; 
    color: #fff; 
    padding: 10px 50px; /* Adjust padding as needed */
    border: none;
    padding-top: 10px;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    
    transition: background-color 0.3s ease; /* Smooth background color transition on hover */
    font-size: 20px;
    &:hover {
        background-color: #0056b3; /* Change to a slightly different color on hover */
    }
}

input{
    font-size: 28px;
    font-style: bold;
    background-color: rgb(112, 92, 157);
    color: #eee;
    border-radius: 10px;
}

input:focus{
    background-color: #3d6d73;
}


/* 
#lastname{
    width: var(--rightsideWidth)
}
#email{
    width: 27.5%
}
#phone{
    width: 37.2%
}
#password{
    width: 20.2%
} */

/* #email, #phone{
    padding-top: 10px
}

 */











/* give barber credit for picture */



/* 
input{
    background-color: #e3b839; 
    
} */
