@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Pacifico&display=swap');

:root{
    --rightsideWidth: 30%;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    background-color:  #e3b839;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}



/* left */
.image{
    padding-left: 50px;
    transform: scale(2);
    margin: 0;
    width: 95%;
    height: 69.7vh;
    overflow: hidden;
    opacity: 1;
}

.logo{
    position:  absolute;
    width: 120px;
    padding-top: 125px;
    opacity: 0.7;
    
}
#cut-text{
    position: absolute;
    font-family: 'Pacifico', cursive;
    padding-top: 150px;
    padding-left: 120px;
    font-size: 32px;  
    color: rgb(157, 195, 54);
    opacity: 0.85;
}

/* right */

.right{
    /* display: flex; */
    padding-left: 900px;
    /* flex-wrap: wrap; */
    position: absolute;
}
#appointment {
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    font-size: 50px;
    padding-left: 80px 
}

.form{
    display: flex;
    /* flex-direction: column; */
    /* flex: 1; */
    padding-top: 200px; 
    font-size: 32px;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

#lastname{
    width: var(--rightsideWidth)
}
#email{
    width: 27.5%
}
#phone{
    width: 37.2%
}
#password{
    width: 20.2%
}

/* #email, #phone{
    padding-top: 10px
}

 */











/* give barber credit for picture */



/* 
input{
    background-color: #e3b839; 
    
} */
